@model Civ4RFCMapApp.WebUI.Models.MapViewModel

<h2>Civ 4 Map</h2>
<h3>Upload</h3>
<form action="" method="post" enctype="multipart/form-data">
    <label for="file">Map Text File:</label>
    <input type="file" name="file" id="file" />
    <input type="submit" />
</form>

@if (Model != null)
{
    if (string.IsNullOrWhiteSpace(Model.Message))
    {
        <h3>Uploaded Map</h3>
        <div class="row">
            <div class="col-md-12">
                @Html.LabelFor(m => m.Name)
                @Html.DisplayFor(m => m.Name)
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                @Html.LabelFor(m => m.Dimensions)
                @Html.DisplayFor(m => m.Dimensions)
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <img src="@Model.ImagePath" />
            </div>
        </div>
    }
    else
    {
        <h3>@Model.Message</h3>
    }
}